.--mc-list {

  .--mc-list-container {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .8;
      z-index: -1;
      background-color: #ffffff;
    }

    .--mc-list-item {
      position: relative;
      padding: 10px;
      overflow: hidden;
    }
  }
}