.--mc-list {

  .--mc-list-container {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .--mc-list-item {
      position: relative;
      padding: 10px;
      overflow: hidden;

      &.--mc-list-twoline {
        .--mc-list-item-container {
          display: flex;
          align-items: center;

          .--mc-list-head {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
          }

          h1 {
            font-size: 24px;
            margin: 2px;
            font-weight: 700;
          }

          h2 {
            font-size: 16px;
            margin: 2px;
            font-weight: 500;
          }
        }
      }
    }
  }
}