@import './common/theme.scss';

.--mc-ripple-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 !important;

  span {
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    background-color: var(--mc-ripple-color);
    pointer-events: none;
    margin: 0 !important;

    &.animate {
      animation-name: ripple;
      animation-duration: var(--mc-ripple-duration);
    }

    &.show {
      opacity: var(--mc-ripple-opacity);
    }

    transition: opacity 0.2s ease-out;
  }

  @keyframes ripple {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
}